// решение позволяет не растягивать изображение, т.к. это портит качество
// также, картинка не будет больше размеров блока

@mixin img-auto-size($max-height: 100%) {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: $max-height;
}
